@{
    ViewData["Title"] = "Carreras";
}

@{
    Layout = "_LayoutLaboratorioClases";
}

<div class="container-fluid">
    <div class="row pt-4 pb-5">
         <div class="pb-4" align="center">
            <h4>Carreras</h4>
            <input type="hidden" id="estado" />
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label class="fw-bold mb-2" for="modulo">Módulo</label>
                <select class="form-control" id="modulo" title="Módulo del estudiante" asp-items="ViewBag.Modulos">
                    <option value="0">Seleccione</option>
                </select>
            </div>
        </div>
        <div class="col-md-3 input-wrapper">
            <label class="fw-bold mb-2" for="nombre">Nombre</label>
            <input type="text" class="form-control input-text" maxlength="100" id="nombre" title="Nombre de la carrera" />
        </div>
        <div class="col-md-6 mt-3">
            <div class="col-md-3 form-group btn-group btn-group-lg">
                <div class="">
                    <button class="btn btn-primary" onclick="consultarCarreras()" title="Consultar carreras">
                        Consultar
                         <i class="bi-search"></i>
                    </button>
                </div>
            </div>
            <div class="col-md-4 form-group btn-group btn-group-lg">
                <div class="">
                    <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#modalRegistrarCarrera" title="Registrar nueva carrera">
                        Agregar
                        <i class="bi-plus"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div id="gridCarrera" class="mt-5">
            </div>
        </div>
    </div>

    <!-- Modal Registrar Carrera -->
    <div class="modal fade" id="modalRegistrarCarrera" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Registrar carrera</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body px-4 mb-3 col-md-12 row">
                    <div class="mb-2 col-md-4">
                        <div class="form-group">
                            <label class="fw-bold mb-2" for="modalRegistrarModulo">Módulo*</label>
                            <select class="form-control" id="modalRegistrarModulo" asp-items="ViewBag.Modulos" title="Nombre del módulo">
                                <option value="0">Seleccione</option>
                            </select>
                        </div>
                    </div>
                    <div class="mb-2 col-md-8">
                        <label class="fw-bold mb-2" for="modalRegistrarNombre">Nombre*</label>
                        <input type="text" class="form-control input-text" maxlength="100" id="modalRegistrarNombre" title="Nombre de la carrera" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-success" onclick="registrarCarrera()">Registrar</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Editar Carrera -->
    <div class="modal fade" id="modalEditarCarrera" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Editar carrera</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body px-4 mb-3 col-md-12 row">
                    <div class="mb-2 col-md-4">
                        <div class="form-group">
                            <label class="fw-bold mb-2" for="modalEditarModulo">Módulo</label>
                            <select class="form-control" id="modalEditarModulo" asp-items="ViewBag.Modulos">
                                <option value="0">Seleccione</option>
                            </select>
                        </div>
                    </div>
                    <div class="mb-2 col-md-8">
                        <label class="fw-bold mb-2" for="modalEditarNombre">Nombre</label>
                        <input type="text" class="form-control input-text" maxlength="100" id="modalEditarNombre" title="Nombre de la carrera" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-primary" onclick="editarCarrera()">Guardar Cambios</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Confirmar Eliminación -->
    <div class="modal fade" id="modalConfirmarEliminacion" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Confirmar eliminación</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body px-4 col-md-12 row">
                    <p>¿Está seguro de que desea eliminar el registro seleccionado?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-primary" onclick="eliminarRegistro()">Confirmar</button>
                </div>
            </div>
        </div>
    </div>
</div>

<style>

</style>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>

    var idSeleccionado = 0;
    var datosCarrera = {
        Id: null,
        Nombre: null,
        Modulo: null
    }

    var listaCarreras = [
        {
            Id: 1,
            Nombre: "Ing. Telemática",
            Modulo: "LST"
        },
        {
            Id: 2,
            Nombre: "Ing. Ciencias Computacionales",
            Modulo: "LST"
        },
        {
            Id: 3,
            Nombre: "Lic. Turismo",
            Modulo: "LST"
        },
        {
            Id: 4,
            Nombre: "Ing. Comercial",
            Modulo: "LST"
        },
    ]

    $("#navBarCarreras").addClass("active");

    function consultarCarreras(){       
        if ($("#tablaCarrera").length > 0) {
            $("#tablaCarrera").remove();
        }       

        var tabla = $(`
            <table class="table table-hover table-bordered">
                <thead>
                    <tr class="table-dark">
                      <th scope="col"></th>
                      <th scope="col">Nombre</th>
                      <th scope="col">Módulo</th>
                          <th scope="col">Acciones</th>
                    </tr>
              </thead>
            </table>`);
        tabla.attr({
            id: "tablaCarrera"
        });

        var tablaBody = $(`
            <tbody>
            </tbody>
        `);

        var contador = 0;
        listaCarreras.forEach(registro => {
            contador++;
            tablaBody.append(`
                <tr>
                    <th scope="row">${contador}</th>
                    <td>${registro.Nombre}</td>
                    <td>${registro.Modulo}</td>
                        <td><button onClick="seleccionarDatosFila(${registro.Id})" data-bs-toggle="modal" data-bs-target="#modalEditarCarrera" id='botonEditar' class='btn-sm btn-primary' type='button' title='Editar carrera'/><i class="bi bi-pencil-square"></i></button>
                    <button onClick="seleccionarIdFila(${registro.Id})" data-bs-toggle="modal" data-bs-target="#modalConfirmarEliminacion" class='btn-sm btn-primary' type='button' title='Eliminar carrera'/><i class="bi-trash"></i></button></td>
                </tr>       
            `);
        });

        tabla.append(tablaBody);

        $("#gridCarrera").append(tabla);
    }

    function seleccionarDatosFila(idCarrera) {
        listaCarreras.forEach(carrera => {
            if (carrera.Id == idCarrera) {
                datosCarrera.Id = carrera.Id;
                datosCarrera.Nombre = carrera.Nombre;
                datosCarrera.Modulo = carrera.Modulo;
            }
        })
       
        $("#modalEditarNombre").val(datosCarrera.Nombre);
        $("#modalEditarModulo").val(datosCarrera.Modulo);

        idSeleccionado = datosCarrera.Id;
    }

    function seleccionarIdFila(id){
        idSeleccionado = id;
    }

    function editarCarrera() {
        console.log(`Editando carrera con ID ${idSeleccionado}`)
        $("#modalEditarCarrera").modal("hide");
    }

    function eliminarRegistro() {
        console.log(`Eliminando carrera con ID ${idSeleccionado}`)
        $("#modalConfirmarEliminacion").modal("hide");
    }

    function registrarCarrera() {
        console.log(`Registrando nueva carrera`)
        $("#modalRegistrarCarrera").modal("hide");
    }

</script>
