@{
    ViewData["Title"] = "Inventario";
}

@{
    Layout = "_LayoutLaboratorioClases";
}

<div class="container-fluid">
    <div class="row pt-4 pb-5">
         <div class="pb-4" align="center">
            <h4>Inventario</h4>
            <input type="hidden" id="estado" />
        </div>
        <div class="col-md-4 input-wrapper">
            <label class="fw-bold mb-2" for="nombre">Nombre</label>
            <input type="text" class="form-control input-text" maxlength="100" id="nombre" title="Nombre del registro en el inventario" />
        </div>
        <div class="col-md-8 mt-3">
            <div class="col-md-12 form-group btn-group btn-group-lg">
                <div class="col-md-2">
                    <button class="btn btn-primary" onclick="consultar()" title="Consultar inventario">
                        Consultar
                        <i class="bi-search"></i>
                    </button>
                </div>
                <div class="col-md-2">
                    <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#modalRegistrarInventario" title="Crear nuevo registro en el inventario">
                        Agregar
                    <i class="bi-plus"></i>
                    </button>
                </div>
                <div class="col-md-2">
                    <button class="btn btn-primary" onclick="sincronizarInventario()" title="Sincronizar Inventario">
                        
                        <i class="bi-arrow-counterclockwise"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div id="gridInventario" class="mt-5">
            </div>
        </div>
    </div>

    <!-- Modal Registrar Inventario -->
    <div class="modal fade" id="modalRegistrarInventario" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Crear registro en el inventario</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body px-4 mb-3 col-md-12 row">
                    <div class="mb-2 col-md-12">
                        <label class="fw-bold mb-2" for="modalRegistrarNombre">Nombre*</label>
                        <input type="text" class="form-control input-text" maxlength="100" id="modalRegistrarNombre" title="Nombre del nuevo registro en el inventario" />
                    </div>
                    <div class="mb-2 col-md-12">
                        <label class="fw-bold mb-2" for="modalRegistrarCantidadTotal">Cantidad total</label>
                        <input type="number" class="form-control" id="modalRegistrarCantidadTotal" title="Cantidad total de objetos del nuevo registro en el inventario" />
                    </div>
                    <div class="mb-2 col-md-12">
                        <label class="fw-bold mb-2" for="modalRegistrarDescripcion">Descripción</label>
                        <textarea type="text" class="form-control input-text" rows="4" maxlength="300" id="modalRegistrarDescripcion" title="Descripción del nuevo registro en el inventario" ></textarea>
                    </div>  
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-success" onclick="registrarInventario()">Registrar</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Editar Inventario -->
    <div class="modal fade" id="modalEditarInventario" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Editar registro en el inventario</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body px-4 mb-3 col-md-12 row">
                    <div class="mb-2 col-md-12">
                        <label class="fw-bold mb-2" for="modalEditarNombre">Nombre</label>
                        <input type="text" class="form-control input-text" maxlength="100" id="modalEditarNombre" title="Nombre del registro en el inventario" />
                    </div>
                    <div class="mb-2 col-md-12">
                        <label class="fw-bold mb-2" for="modalEditarCantidadTotal">Cantidad total</label>
                        <input type="number" class="form-control" id="modalEditarCantidadTotal" title="Cantidad total de objetos del registro en el inventario" />
                    </div>
                    <div class="mb-2 col-md-12">
                        <label class="fw-bold mb-2" for="modalEditarCantidadDisponible">Cantidad disponible</label>
                        <input type="number" class="form-control" id="modalEditarCantidadDisponible" title="Cantidad disponible de objetos del registro en el inventario" />
                    </div>
                    <div class="mb-2 col-md-12">
                        <label class="fw-bold mb-2" for="modalEditarDescripcion">Descripción</label>
                        <textarea type="text" class="form-control input-text" rows="4" maxlength="300" id="modalEditarDescripcion" title="Descripción del registro en el inventario" ></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-primary" onclick="editarInventario()">Guardar Cambios</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Confirmar Eliminación -->
    <div class="modal fade" id="modalConfirmarEliminacion" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Confirmar eliminación</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body px-4 col-md-12 row">
                    <p>¿Está seguro de que desea eliminar el registro seleccionado?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-primary" onclick="eliminarRegistro()">Confirmar</button>
                </div>
            </div>
        </div>
    </div>
</div>

<style>

</style>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>

    var idSeleccionado = 0;
    var datosInventario = {
        Id: null,
        Nombre: null,
        Descripcion: null,
        CantidadDisponible: null,
        CantidadTotal: null
    }

    var listaInventario = [
        {
            Id: 1,
            Nombre: "Placa",
            Descripcion: "Placa protoboard para proyectos de electrónica",
            CantidadDisponible: 5,
            CantidadTotal: 10
        },
       {
            Id: 2,
            Nombre: "Cableado",
            Descripcion: "Cables para protoboard",
            CantidadDisponible: 24,
            CantidadTotal: 100
        }
    ]
    
    $("#navBarInventario").addClass("active");

    function consultar() {
        if ($("#tablaInventario").length > 0) {
            $("#tablaInventario").remove();
        }       

        var tabla = $(`
            <table class="table table-hover table-bordered">
                <thead>
                    <tr class="table-dark">
                      <th scope="col"></th>
                      <th scope="col">Nombre</th>
                      <th scope="col">Descripción</th>
                      <th scope="col">Cantidad disponible</th>
                      <th scope="col">Cantidad total</th>
                      <th scope="col">Acciones</th>
                    </tr>
              </thead>
            </table>`);
        tabla.attr({
            id: "tablaInventario"
        });

        var tablaBody = $(`
            <tbody>
            </tbody>
        `);

        var contador = 0;
        listaInventario.forEach(registro => {
            contador++;
            tablaBody.append(`
                <tr>
                    <th scope="row">${contador}</th>
                    <td>${registro.Nombre}</td>
                    <td>${registro.Descripcion}</td>
                    <td>${registro.CantidadDisponible}</td>
                    <td>${registro.CantidadTotal}</td>
                        <td><button onClick="seleccionarDatosFila(${registro.Id})" data-bs-toggle="modal" data-bs-target="#modalEditarInventario" id='botonEditar' class='btn-sm btn-primary' type='button' title='Editar registro de inventario'/><i class="bi bi-pencil-square"></i></button>
                        <button onClick="seleccionarIdFila(${registro.Id})" data-bs-toggle="modal" data-bs-target="#modalConfirmarEliminacion" class='btn-sm btn-primary' type='button' title='Eliminar registro de inventario'/><i class="bi-trash"></i></button></td>
                </tr>       
            `);
        });

        tabla.append(tablaBody);

        $("#gridInventario").append(tabla);
    }

    function seleccionarDatosFila(idInventario) {
        listaInventario.forEach(inventario => {
            if (inventario.Id == idInventario) {
                datosInventario.Id = inventario.Id;
                datosInventario.Nombre = inventario.Nombre;
                datosInventario.Descripcion = inventario.Descripcion;
                datosInventario.CantidadDisponible = inventario.CantidadDisponible;
                datosInventario.CantidadTotal = inventario.CantidadTotal;
            }
        })

        $("#modalEditarNombre").val(datosInventario.Nombre);
        $("#modalEditarDescripcion").val(datosInventario.Descripcion);
        $("#modalEditarCantidadDisponible").val(datosInventario.CantidadDisponible);
        $("#modalEditarCantidadTotal").val(datosInventario.CantidadTotal);

        idSeleccionado = datosInventario.Id;
    }

    function seleccionarIdFila(id){
        idSeleccionado = id;
    }

    function editarInventario() {
        console.log(`Editando registro en el inventario con ID ${idSeleccionado}`)
        $("#modalEditarInventario").modal("hide");
    }

    function eliminarRegistro() {
        console.log(`Eliminando registro en el inventario con ID ${idSeleccionado}`)
        $("#modalConfirmarEliminacion").modal("hide");
    }

    function registrarInventario() {
        console.log(`Creando nuevo registro en el inventario`)
        $("#modalRegistrarInventario").modal("hide");
    }

    function sincronizarInventario(){
        console.log("Sincronizando inventario")
    }

</script>
