@{
    ViewData["Title"] = "Inicio";
}

@{
    Layout = "_Layout";
}

<div class="text-center my-5">
    <h1 class="display-4">Bienvenido a IDAAI APP</h1>
    <p>Portal de integración de dispositivos y aplicaciones para ambientes inteligentes</p>
</div>
