@{
    ViewData["Title"] = "Inicio";
}

@{
    Layout = "_Layout";
}

<div class="text-center py-5 px-5 shadow-lg opacity-75 rounded bg-light">
    <div class="py-3">
         <h1 class="fs-1 mb-2 fw-bold texto-sombra">Bienvenido a IDAAI LABS</h1>
        <div class="mt-5">
            <h3 class="fs-4 mt-3 texto-sombra">Portal de integración de dispositivos y aplicaciones para ambientes inteligentes</h3>
        </div> 
    </div>      
</div>
