@{
    ViewData["Title"] = "Crear Cuenta";
}

@{
    Layout = "_Layout";
}

<div class="d-flex align-items-center justify-content-center">
    <div class="row d-flex align-items-center justify-content-evenly px-4 mt-5 shadow bg-light rounded mb-5 col-lg-12 col-md-8 col-sm-9 col-11">
        <div class="col-12 mt-3 mb-3 pb-2 border-bottom">
            <h2 class="mb-3 text-center fw-bold mt-3">@ViewData["Title"]</h2>
        </div>

        <div class="col-lg-5 mx-auto">
            <div class="col-12 col-md-12 mt-3">
                <img width="175" height="150" class="d-block mx-auto" src="~/images/signUp.png" alt="Inicio de sesión de usuario" />
            </div>
        </div>

        <div class="col-lg-7 mx-auto">
            <div class="col-11 col-sm-10 mx-auto col-md-9 col-lg-8 mt-2 mb-2">
                <form id="loginForm">
                    <div class="col-xs-8">
                        <div class="ml-5 mt-2">
                            <label class="fw-bold mb-2 mt-4 ml-5" for="user">Usuario:</label>
                        </div>

                        <div class="text-center">
                            <input type="text" class="form-control" id="user" />
                        </div>

                        <div class="ml-5 mt-2">
                            <label class="fw-bold mb-2 mt-4 ml-5" for="password">Contraseña:</label>
                        </div>

                        <div class="text-center">
                            <input type="password" class="form-control mb-3" id="password" />
                        </div>
                    </div>

                    <div class="text-center">
                        <button onclick="registrarse()" id="botonAccion" type="button" class="botonAccionbtn btn-success bg-gradient px-3 mt-2 mb-2 py-3 rounded-pill" style="">Registrarse</button>
                        <button onclick="cancelar()" type="button" class="botonAccion btn btn-secondary bg-gradient px-3 mt-2 mb-2 py-3 rounded-pill">Cancelar</button>
                    </div>
                </form>
            </div>
        </div>

        <div class="mt-5">
        </div>
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>

    $("#loginForm").submit(function (event) {
        var isValid = false;

        if (!isValid) {
            event.preventDefault();
        }
    });

    $("#user").keyup(function (event) {
        if (event.keyCode === 13) {
            registrarse();
        }
    });

    $("#password").keyup(function (event) {
        if (event.keyCode === 13) {
            registrarse();
        }
    });

    function cancelar() {
        $.ajax({
            cache: false,
            type: "GET",
            url: '@Url.Action("Cancelar", "Home")',
            data: null,
            success: function (response) {
                if (response == null) {
                    showToastError("Ha ocurrido un error");
                    return;
                }
                window.location.href = response.redirectToUrl;
            },
            error: function (xhr) {
                showToastError(xhr.responseText);
                return false;
            },
            beforeSend: function () {
            },
            complete: function () {
            }
        });
    }

    function registrarse() {
        if ($("#user").val() == '' || $("#password").val() == '') {
            showToastError('Debe ingresar el usuario y contraseña')
            return
        }

        if ($("#password").val().length < 8) {
            showToastError('La contraseña debe tener al menos 8 dígitos')
            return
        }

        var request = {
            Usuario: $("#user").val(),
            Password: $("#password").val()
        }

        $.ajax({
            cache: false,
            type: "POST",
            url: '@Url.Action("Registrarse", "Operaciones")',
            data: request,
            success: function (response) {
                if (response == null) {
                    showToastError("Ha ocurrido un error");
                    return;
                }
                showToastOk('Se registró la cuenta correctamente');
                window.location.href = response.redirectToUrl;
            },
            error: function (xhr) {
                showToastError(xhr.responseText);
                return false;
            },
            beforeSend: function () {
                mostrarCarga(true);
            },
            complete: function () {
                mostrarCarga(false);
            }
        });
    }

</script>