@{
    ViewData["Title"] = "Estudiantes";
}

@{
    Layout = "_LayoutLaboratorioAbierto";
}

<div class="container-fluid">
    <div class="row pt-4 pb-5">
         <div class="pb-4" align="center">
            <h4>Estudiantes</h4>
            <input type="hidden" id="estado" />
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label class="fw-bold mb-2" for="modulo">Módulo</label>
                <select class="form-control" id="modulo" title="Módulo del estudiante" asp-items="ViewBag.Modulos">
                    <option value="0">Seleccione</option>
                </select>
            </div>
        </div>
        <div class="col-md-2 input-wrapper">
            <label class="fw-bold mb-2" for="nombres">Nombres</label>
            <input type="text" class="form-control input-text" maxlength="100" id="nombres" title="Nombres del estudiante" />
        </div>
        <div class="col-md-2 input-wrapper">
            <label class="fw-bold mb-2" for="apellidos">Apellidos</label>
            <input type="text" class="form-control input-text" maxlength="100" id="apellidos" title="Apellidos del estudiante" />
        </div>
        <div class="col-md-2 input-wrapper">
            <label class="fw-bold mb-2" for="matricula">Matrícula</label>
            <input type="text" class="form-control input-text" maxlength="10" id="matricula" title="Matrícula del estudiante" />
        </div>
        <div class="col-md-2 input-wrapper">
            <label class="fw-bold mb-2" for="email">Email</label>
            <input type="text" class="form-control input-text" maxlength="50" id="email" title="Email del estudiante" />
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label class="fw-bold mb-2" for="carrera">Carrera</label>
                <select class="form-control" id="carrera" title="Carrera del estudiante" asp-items="ViewBag.Carreras">
                    <option value="0">Seleccione</option>
                </select>
            </div>
        </div>
        <div class="col-md-12 mt-3">
            <div class="col-md-4 form-group btn-group btn-group-lg">
                <div class="col-md-4">
                    <button class="btn btn-primary" onclick="consultarEstudiantes()" title="Consultar estudiantes">
                        Consultar
                         <i class="bi-search"></i>
                    </button>
                </div>
                <div class="col-md-4">
                    <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#modalRegistrarEstudiante" title="Registrar nuevo estudiante">Agregar
                        <i class="bi-plus"></i>
                    </button>
                </div>
                <div class="col-md-4">
                    <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#modalRegistrarEstudiante" title="Registrar grupo de estudiantes">
                        Grupo
                        <i class="bi-plus"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div id="gridEstudiante" class="mt-5">
            </div>
        </div>
    </div>

    <!-- Modal Registrar Estudiante -->
    <div class="modal fade" id="modalRegistrarEstudiante" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Registrar nuevo estudiante</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body px-4 mb-3 col-md-12 row">
                    <div class="mb-2 col-md-6">
                        <div class="form-group">
                            <label class="fw-bold mb-2" for="modalModulo">Módulo*</label>
                            <select class="form-control" id="modalModulo" asp-items="ViewBag.Modulos" title="Nombre del módulo">
                                <option value="0">Seleccione</option>
                            </select>
                        </div>
                    </div>
                    <div class="mb-2 col-md-6">
                        <div class="form-group">
                            <label class="fw-bold mb-2" for="modalCarrera">Carrera</label>
                            <select class="form-control" id="modalCarrera" asp-items="ViewBag.Carreras">
                                <option value="0">Seleccione</option>
                            </select>
                        </div>
                    </div>
                    <div class="mb-2">
                        <label class="fw-bold mb-2" for="modalNombres">Nombres*</label>
                        <input type="text" class="form-control input-text" maxlength="100" id="modalNombres" title="Nombres del estudiante" />
                    </div>
                    <div class="mb-2">
                        <label class="fw-bold mb-2" for="modalApellidos">Apellidos*</label>
                        <input type="text" class="form-control input-text" maxlength="100" id="modalApellidos" title="Apellidos del estudiante" />
                    </div>
                    <div class="mb-2 col-md-6">
                        <label class="fw-bold mb-2" for="modalMatricula">Matrícula*</label>
                        <input type="text" class="form-control input-text" maxlength="10" id="modalMatricula" title="Matrícula del estudiante" />
                    </div>
                    <div class="mb-2 col-md-6">
                        <label class="fw-bold mb-2" for="modalEmail">Email</label>
                        <input type="text" class="form-control input-text" maxlength="50" id="modalEmail" title="Email del estudiante" />
                    </div>
                    <div class="mb-2">
                        <label class="fw-bold mb-2" for="modalDireccion">Dirección</label>
                        <textarea class="form-control" id="modalDireccion" maxlength="100" rows="4">
                        </textarea>
                    </div>                    
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-success" onclick="registrarEstudiante()">Registrar</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Editar Estudiante -->
    <div class="modal fade" id="modalEditarEstudiante" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Editar estudiante</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body px-4 mb-3 col-md-12 row">
                    <div class="mb-2 col-md-6">
                        <div class="form-group">
                            <label class="fw-bold mb-2" for="modalEditarModulo">Módulo</label>
                            <select class="form-control" id="modalEditarModulo" asp-items="ViewBag.Modulos">
                                <option value="0">Seleccione</option>
                            </select>
                        </div>
                    </div>
                    <div class="mb-2 col-md-6">
                        <div class="form-group">
                            <label class="fw-bold mb-2" for="modalEditarCarrera">Carrera</label>
                            <select class="form-control" id="modalEditarCarrera" asp-items="ViewBag.Carreras">
                                <option value="0">Seleccione</option>
                            </select>
                        </div>
                    </div>
                    <div class="mb-2">
                        <label class="fw-bold mb-2" for="modalEditarNombres">Nombres</label>
                        <input type="text" class="form-control input-text" maxlength="100" id="modalEditarNombres" title="Nombres del estudiante" />
                    </div>
                    <div class="mb-2">
                        <label class="fw-bold mb-2" for="modalEditarApellidos">Apellidos</label>
                        <input type="text" class="form-control input-text" maxlength="100" id="modalEditarApellidos" title="Apellidos del estudiante" />
                    </div>
                    <div class="mb-2 col-md-6">
                        <label class="fw-bold mb-2" for="modalEditarMatricula">Matrícula</label>
                        <input type="text" class="form-control input-text" maxlength="10" id="modalEditarMatricula" title="Matrícula del estudiante" />
                    </div>
                    <div class="mb-2 col-md-6">
                        <label class="fw-bold mb-2" for="modalEditarEmail">Email</label>
                        <input type="text" class="form-control input-text" maxlength="50" id="modalEditarEmail" title="Email del estudiante" />
                    </div>
                    <div class="mb-2">
                        <label class="fw-bold mb-2" for="modalEditarDireccion">Dirección</label>
                        <textarea class="form-control" id="modalEditarDireccion" maxlength="100" rows="4">
                        </textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-primary" onclick="editarEstudiante()">Guardar Cambios</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Confirmar Eliminación -->
    <div class="modal fade" id="modalConfirmarEliminacion" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Confirmar eliminación</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body px-4 col-md-12 row">
                    <p>¿Está seguro de que desea eliminar el registro seleccionado?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-primary" onclick="eliminarRegistro()">Confirmar</button>
                </div>
            </div>
        </div>
    </div>

</div>

<style>

</style>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>

    var idSeleccionado = 0;
    var datosEstudiante = {
        Id: null,
        Nombres: null,
        Apellidos: null,
        Matricula: null,
        Email: null,
        Direccion: null,
        Carrera: null,
        Modulo: null
    }

    var listaEstudiante = [
        {
            Id: 1,
            Nombres: "Alexander",
            Apellidos: "Martinez",
            Matricula: "201408764",
            Email: "alexmf@gmail.es",
            Direccion: "Av. Guayaquil",
            Carrera: "Ing. Telemática",
            Modulo: "LST"
        },
        {
            Id: 2,
            Nombres: "Dayana",
            Apellidos: "Bustamante",
            Matricula: "201787356",
            Email: "dbustamante@gmail.es",
            Direccion: "Av. Quito",
            Carrera: "Lic. Turismo",
            Modulo: "LST"
        },
        {
            Id: 3,
            Nombres: "Justhyn",
            Apellidos: "Arcentales",
            Matricula: "201987392",
            Email: "jarcentales@gmail.es",
            Direccion: "Av. Amazonas",
            Carrera: "Ing. Comercial",
            Modulo: "LST"
        },
        {
            Id: 4,
            Nombres: "Futo",
            Apellidos: "Mansito",
            Matricula: "202089321",
            Email: "fmansito@gmail.es",
            Direccion: "Futolandia",
            Carrera: "Ing. Ciencias Computacionales",
            Modulo: "LST"
        },
        {
            Id: 5,
            Nombres: "Oscar",
            Apellidos: "Gilicidio",
            Matricula: "201987362",
            Email: "oscargilisimo@gmail.es",
            Direccion: "San Francisco",
            Carrera: "Ing. Ciencias Computacionales",
            Modulo: "LST"
        }
    ]

    $("#navBarEstudiantes").addClass("active");

    function consultarEstudiantes(){       
        if ($("#tablaEstudiante").length > 0) {
            $("#tablaEstudiante").remove();
        }       

        var tabla = $(`
            <table class="table table-hover table-bordered">
                <thead>
                    <tr class="table-dark">
                      <th scope="col"></th>
                      <th scope="col">Nombres</th>
                      <th scope="col">Apellidos</th>
                      <th scope="col">Matricula</th>
                      <th scope="col">Email</th>
                      <th scope="col">Dirección</th>
                      <th scope="col">Carrera</th>
                      <th scope="col">Módulo</th>
                      <th scope="col">Acciones</th>
                    </tr>
              </thead>
            </table>`);
        tabla.attr({
            id: "tablaEstudiante"
        });

        var tablaBody = $(`
            <tbody>
            </tbody>
        `);

        var contador = 0;
        listaEstudiante.forEach(registro => {
            contador++;
            tablaBody.append(`
                <tr>
                    <th scope="row">${contador}</th>
                    <td>${registro.Nombres}</td>
                    <td>${registro.Apellidos}</td>
                    <td>${registro.Matricula}</td>
                    <td>${registro.Email}</td>
                    <td>${registro.Direccion}</td>
                    <td>${registro.Carrera}</td>
                    <td>${registro.Modulo}</td>
                        <td><button onClick="seleccionarDatosFila(${registro.Id})" data-bs-toggle="modal" data-bs-target="#modalEditarEstudiante" id='botonEditar' class='btn-sm btn-primary' type='button' title='Editar estudiante'/><i class="bi bi-pencil-square"></i></button>
                    <button onClick="seleccionarIdFila(${registro.Id})" data-bs-toggle="modal" data-bs-target="#modalConfirmarEliminacion" class='btn-sm btn-primary' type='button' title='Eliminar estudiante'/><i class="bi-trash"></i></button></td>
                </tr>       
            `);
        });

        tabla.append(tablaBody);

        $("#gridEstudiante").append(tabla);
    }

    function seleccionarDatosFila(idEstudiante) {
        listaEstudiante.forEach(estudiante => {
            if (estudiante.Id == idEstudiante) {
                datosEstudiante.Id = estudiante.Id;
                datosEstudiante.Nombres = estudiante.Nombres;
                datosEstudiante.Apellidos = estudiante.Apellidos;
                datosEstudiante.Matricula = estudiante.Matricula;
                datosEstudiante.Email = estudiante.Email;
                datosEstudiante.Direccion = estudiante.Direccion;
                datosEstudiante.Carrera = estudiante.Carrera;
                datosEstudiante.Modulo = estudiante.Modulo;
            }
        })
       
        $("#modalEditarNombres").val(datosEstudiante.Nombres);
        $("#modalEditarApellidos").val(datosEstudiante.Apellidos);
        $("#modalEditarMatricula").val(datosEstudiante.Matricula);
        $("#modalEditarEmail").val(datosEstudiante.Email);
        $("#modalEditarDireccion").val(datosEstudiante.Direccion);
        $("#modalEditarCarrera").val(datosEstudiante.Carrera);
        $("#modalEditarModulo").val(datosEstudiante.Modulo);

        idSeleccionado = datosEstudiante.Id;
    }

    function seleccionarIdFila(id){
        idSeleccionado = id;
    }

    function editarEstudiante() {
        console.log(`Editando estudiante con ID ${idSeleccionado}`)
        $("#modalEditarEstudiante").modal("hide");
    }

    function eliminarRegistro() {
        console.log(`Eliminando estudiante con ID ${idSeleccionado}`)
        $("#modalConfirmarEliminacion").modal("hide");
    }

    function registrarEstudiante(){
        console.log(`Registrando nuevo estudiante`)
        $("#modalRegistrarEstudiante").modal("hide");
    }

</script>
