@{
    ViewData["Title"] = "Préstamo de Items";
}

@{
    Layout = "_LayoutLaboratorioAbierto";
}

<div class="container-fluid">
    <div class="row pt-4 pb-5">
         <div class="pb-4" align="center">
            <h4>Préstamo de Items</h4>
            <input type="hidden" id="estado" />
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label class="fw-bold mb-2" for="modulo">Módulo</label>
                <select class="form-control" id="modulo" title="Módulo a consultar" asp-items="ViewBag.Modulos">
                    <option value="0">Seleccione</option>
                </select>
            </div>
        </div>
        <div class="col-md-4 mt-3">
            <div class="col-md-12 form-group btn-group btn-group-lg">
                <div class="col-md-4">
                    <button class="btn btn-primary" onclick="consultar()" title="Consultar registros de préstamos de items">
                        Consultar
                        <i class="bi-search"></i>
                    </button>
                </div>
                <div class="col-md-4">
                    <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#modalRegistrarPrestamo" title="Crear nuevo registro de préstamo de item">
                        Agregar
                    <i class="bi-plus"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div id="gridPrestamo" class="mt-5">
            </div>
        </div>
    </div>

    <!-- Modal Registrar Prestamo -->
    <div class="modal fade" id="modalRegistrarPrestamo" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Crear registro de préstamo de item</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body px-4 mb-3 col-md-12 row">
                    <div class="mb-2 col-md-12">
                        <label class="fw-bold mb-2" for="modalRegistrarItem">Código RFID*</label>
                        <input type="text" class="form-control input-text" maxlength="100" id="modalRegistrarItem" title="Código RFID del item para el nuevo registro de préstamo" />
                    </div>
                    <div class="mb-2 col-md-12">
                        <div class="form-group">
                            <label class="fw-bold mb-2" for="modalRegistrarModulo">Módulo*</label>
                            <select class="form-control" id="modalRegistrarModulo" asp-items="ViewBag.Modulos" title="Módulo a elegir para el nuevo registro de préstamo de item">
                                <option value="0">Seleccione</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-success" onclick="registrarPrestamo()">Registrar</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Confirmar Eliminación -->
    <div class="modal fade" id="modalConfirmarEliminacion" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Confirmar eliminación</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body px-4 col-md-12 row">
                    <p>¿Está seguro de que desea eliminar el registro seleccionado?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-primary" onclick="eliminarRegistro()">Confirmar</button>
                </div>
            </div>
        </div>
    </div>
</div>

<style>

</style>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>

    var idSeleccionado = 0;
    var datosPrestamo = {
        Id: null,
        FechaPrestado: null,
        FechaDevuelto: null,
        Inventario: null,
        Item: null,
        Modulo: null,
        EstadoDevolucion: null
    }

    var listaPrestamos = [
        {
            Id: 1,
            FechaPrestado: new Date('Jul 12 2022').toISOString().split('T')[0],
            FechaDevuelto: '-',
            Inventario: "Placa",
            Item: "51",
            Modulo: "LST",
            EstadoDevolucion: "Prestado"
        },
        {
            Id: 2,
            FechaPrestado: new Date('Dec 24 2022').toISOString().split('T')[0],
            FechaDevuelto: new Date().toISOString().split('T')[0],
            Inventario: "Placa",
            Item: "53",
            Modulo: "LST",
            EstadoDevolucion: "Devuelto"
        },
        {
            Id: 3,
            FechaPrestado: new Date('Nov 10 2022').toISOString().split('T')[0],
            FechaDevuelto: new Date('Dec 02 2022').toISOString().split('T')[0],
            Inventario: "Cableado",
            Item: "55",
            Modulo: "LST",
            EstadoDevolucion: "Devuelto"
        },
        {
            Id: 4,
            FechaPrestado: new Date().toISOString().split('T')[0],
            FechaDevuelto: '-',
            Inventario: "Placa",
            Item: "61",
            Modulo: "LST",
            EstadoDevolucion: "Prestado"
        }
    ]
    
    $("#navBarPrestamos").addClass("active");

    function consultar() {
        if ($("#tablaPrestamo").length > 0) {
            $("#tablaPrestamo").remove();
        }       

        var tabla = $(`
            <table class="table table-hover table-bordered">
                <thead>
                    <tr class="table-dark">
                      <th scope="col"></th>
                      <th scope="col">Fecha prestado</th>
                      <th scope="col">Fecha devuelto</th>
                      <th scope="col">Inventario</th>
                      <th scope="col">Item</th>
                      <th scope="col">Módulo</th>
                      <th scope="col">Estado</th>
                      <th scope="col">Acciones</th>
                    </tr>
              </thead>
            </table>`);
        tabla.attr({
            id: "tablaPrestamo"
        });

        var tablaBody = $(`
            <tbody>
            </tbody>
        `);

        var contador = 0;
        listaPrestamos.forEach(registro => {
            contador++;
            tablaBody.append(`
                <tr>
                    <th scope="row">${contador}</th>
                    <td>${registro.FechaPrestado}</td>
                    <td>${registro.FechaDevuelto}</td>
                    <td>${registro.Inventario}</td>
                    <td>${registro.Item}</td>
                    <td>${registro.Modulo}</td>
                    <td>${registro.EstadoDevolucion}</td>
                        <td><button onClick="devolverPrestamo(${registro.Id})" class='btn-sm btn-primary' type='button' title='Editar registro de préstamo de item'/><i class="bi bi-pencil-square"></i></button>
                        <button onClick="seleccionarIdFila(${registro.Id})" data-bs-toggle="modal" data-bs-target="#modalConfirmarEliminacion" class='btn-sm btn-primary' type='button' title='Eliminar registro de préstamo de item'/><i class="bi-trash"></i></button></td>
                </tr>       
            `);
        });

        tabla.append(tablaBody);

        $("#gridPrestamo").append(tabla);
    }

    function seleccionarIdFila(id){
        idSeleccionado = id;
    }

    function devolverPrestamo(id) {
        console.log(`Devolviendo registro de préstamo de item con ID ${id}`)
    }

    function eliminarRegistro() {
        console.log(`Eliminando registro de préstamo de item con ID ${idSeleccionado}`)
        $("#modalConfirmarEliminacion").modal("hide");
    }

    function registrarPrestamo() {
        console.log(`Creando nuevo registro de préstamo de item`)
        $("#modalRegistrarPrestamo").modal("hide");
    }

</script>
